/* STYLE: vars */
:root {
  --color__white: #ffffff;
  --color__white-a-1: rgb(255 255 255 / 50%);
  --color__white-a-2: rgb(255 255 255 / 10%);
  --color__green-1: #34C759;
  --color__black: #1a1a1a;
  --color__black-2: #252525;
  --color__grey-1: #303030;
  --color__grey-2: #4D4D4D;
  --color__grey-3: #737373;
  --color__grey-4: #A6A6A6;
  --color__grey-5: #D9D9D9;

  --shadow-1: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* !STYLE: vars */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* STYLE: global */

body {
  background-color: var(--color__black);
  color: var(--color__white);
  font-family: 'Roboto Condensed', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
button {
  transition: all 0.24s;
}

a:hover,
button:hover {
  transform: scale(1.05);
}

a:focus,
button:focus {
  outline: transparent;
}

a:focus-visible,
button:focus-visible {
  transform: translateY(-10%);
}

a:active,
button:active {
  transform: scale(0.95);
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--align-str {
  align-items: stretch;
}

.page-wrapper {
  height: auto;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.page-content {
  flex-grow: 1;
  flex-basis: auto;
  position: relative;
  width: 100%;

  background-image: -webkit-image-set(url(../img/main-bg.jpg) 1x);
  background-image: url(../img/main-bg.webp);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

.footer {
  flex-basis: auto;
  flex-grow: 0;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 110rem;
  padding: 0 5rem;
  height: 100%;
}

.container.--s {
  width: 100%;
  margin: 0 auto;
  max-width: 98rem;
}

/* !STYLE: global */

/* STYLE: btn */
.btn {
  padding: 1.5em 3.5em;
  line-height: 1.25;
  border: 1px solid var(--border-color);
  border-radius: 5em;
  cursor: pointer;
  background-color: var(--bg-color);
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  transition: all 0.24s;
  transform-origin: center;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: var(--text-color);
  --border-color: var(--color__green-1);
  --text-color: var(--color__black);
  --bg-color: var(--color__green-1);
}

.btn:disabled {
  --text-color: var(--color__grey-5);
  --border-color: var(--color__grey-3);
  --bg-color: var(--color__grey-3);
}

/* !STYLE: btn*/

/* STYLE: top-bar */
.top-bar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 2rem 0;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid var(--color__white-a-2);
  transform: translateY(0);
  transition: all 0.3s;
  z-index: 10;
}

.top-bar.--scrolled {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.75rem);
}

.top-bar__list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;
}

.top-bar__list-item+.top-bar__list-item {
  margin-left: 1.25rem;
}

.top-bar__link {
  font-weight: 700;
  padding: 0.5rem;
  color: var(--color__white);
  text-decoration: none;
}

.top-bar__link:hover {
  color: var(--color__green-1);
}

/* !STYLE: top-bar */

.company-name {
  color: var(--color__white);
  text-transform: uppercase;
}

/* STYLE: section-title */
.section-title {
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2em;
  color: var(--color__grey-5);
  padding: 0.5rem 0;
}

.section-title__main {
  position: relative;
  z-index: 1;
}

.section__title-descr {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color__grey-1);
  opacity: 0.75;
}

/* !STYLE: section-title */

/* STYLE - address */
.address {
  font-style: normal;
}

.address__item {
  flex: 0 0 15.5rem;
}

.address__item-icon {
  display: block;
  margin: 0 auto;
}

.address__item-info {
  display: block;
  margin: 1rem auto 0;
  color: var(--color__white);
  line-height: 2;
  text-decoration: none;
}

.address__item-title {
  font-size: 0.75rem;
  line-height: 1.75;
  color: var(--color__white-a-1);
  font-weight: 400;
}

/* !STYLE - address */

/* STYLE - header */
.header {
  text-align: center;
}

.header__inner {
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 11rem 0 5rem;
}

.header__title {
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 2;
  letter-spacing: 0.1em;
}

.header__title-part {
  display: block;
}

.header__text {
  line-height: 1.5;
  letter-spacing: -0.2px;
  opacity: 0.7;
  max-width: 37rem;
  margin: 1rem auto 0;
}

.header__btn {
  margin-top: 2.5rem;
}

.header__address {
  margin-top: 4.5rem;
  width: 100%;
}

/* !STYLE - header */

/* STYLE: about */

.about {
  margin-top: 10rem;
}

.about__inner {
  background: var(--color__black-2);
  box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 6rem 2rem;
}

.about__title {}

.about__descr {
  text-align: center;
  margin: 2rem auto 0;
  max-width: 46rem;
}

.about__slider {
  margin: 5.5rem auto 0;
  max-width: 61rem;
}

.about__slider-inner {
  margin: 0 3.75rem;
}

.about__slider-btn {
  position: static;
}

.about__slide {
  height: 17rem;
  width: 17rem;
}

.about__slide-pic {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.about__slide-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* !STYLE: about */

/* STYLE: swiper */
.swiper {}


.swiper-wrapper {}

.swiper-slide {}

.swiper-button {
  --btn-color: var(--color__grey-2);
  display: block;
  height: 3.75rem;
  width: 3.75rem;
  flex: 0 0 3.75rem;
  border-radius: 50%;
  padding: 1rem;
  border: 1px solid var(--btn-color);
  transition: border-color 0.24s;
}

.swiper-button-icon {
  stroke: var(--btn-color);
  transition: fill 0.24s;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.swiper-button:hover {
  --btn-color: var(--color__grey-3);
}

.swiper-button:focus {
  outline: transparent;
}

.swiper-button:focus-visible {
  --btn-color: var(--color__green-1);
}

.swiper-button:active {
  --btn-color: var(--color__white);
}

.swiper-button:disabled {
  --btn-color: var(--color__black)
}

.swiper-button::after {
  display: none;
}

.swiper-button-prev .swiper-button-icon {
  transform: rotate(180deg);
}

.swiper-button-next {}

/* !STYLE: swiper */

/* STYLE - footer */
.footer {
  text-align: center;
  padding: 2rem 0;
  background-color: var(--color__grey-1);
}

.footer__address {}

.footer__bottom {
  border-top: 1px solid var(--color__grey-2);
  margin-top: 2rem;
}

.footer__logo {
  display: block;
  margin: 2rem auto 0;
}

.footer__copy {
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 1.33;
  color: var(--color__grey-3);
}

/* !STYLE - footer */